<% @boards.each do |board| %>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= board.id %>" data-autocomplete-label="<%= board.title %>">
    <%= board.title %>
    <span class="badge"><%= board.text %></span>
  </li>
<% end %>
